@font-face {
  font-family: "Satoshi";
  src: url("satoshi-variable-webfont.woff2") format("woff2"),
    url("satoshi-variable-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.honors-trophies {
  gap: 1.8rem;
  font-family: "Satoshi";
  font-size: 1.4rem;
  color: #777;
  font-weight: 400;
}

.honors-trophies-text {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.honors-trophies-list li {
  list-style: disc;
  margin-left: 2rem;
  line-height: 1.6;
}

.trophies {
  border-left: 1px solid #999;
  padding: 0 1rem;
}
